final_web_app/Connected Services/JobService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfService1.Job">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service1.Job" nillable="true" type="tns:Service1.Job" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService1.Job" nillable="true" type="tns:ArrayOfService1.Job" />
  <xs:complexType name="Service1.Job">
    <xs:sequence>
      <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jobRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="minWorkEx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="skillSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vacantPosition" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service1.Job" nillable="true" type="tns:Service1.Job" />
</xs:schema>