final_web_app/Connected Services/JobService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50037/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobService" />
  <xs:element name="CreateJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobRoleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skillSet" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minWorkEx" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vacantPosition" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateJobResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillSet" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ViewJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobService" minOccurs="0" name="ViewJobResult" nillable="true" type="q1:ArrayOfService1.Job" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>