final_web_app/Connected Services/CreateAccountService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mobileNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jobProfile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skills" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="workExperience" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="universityName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cgpa" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="degreeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>